<div class="jumbotron text-center">
  <h1>Scoring Application, part 2</h1>
  <p>This is skeleton for Scoring Database application. This project is part of CGI Java Boot Camp.</p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About template</h2>
      <h4>This skeleton supports AngularJS (ver. 1.5.5) and JQuery (ver. 2.2.3).<br /> Page layout is made by Bootstrap (ver. 3.3.6).</h4>
      <h4>All dependencies are managed by Maven and <a href="http://www.webjars.org/" target="_blank" >Webjars</a>.
      For details see main <strong>pom.xml</strong> file.</h4>
      <h4>Embedded Tomcat server will start <code style="margin-left:10px">mvn tomcat7:run</code>.</h4>

       <div class="panel panel-default">
          <div class="panel-heading">Useful links:</div>
          <div class="panel-body" ng-repeat="l in links"><a href="{{l.link}}" target="_blank">{{l.title}}</a></div>
        </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-4">
        <img class="duke" src="assets/img/BootCampDuke.png" border="1" />
    </div>
  </div>
</div>