<div ng-include="'components/templates/upper_strip.html'"></div>
<div>
    <table class="log_table">
        <th>{{'NAME' | translate}}</th>
        <th>{{'LOCKED' | translate}}</th>
        <tr ng-repeat="AdministrativeUser in usersList">
            <td>{{AdministrativeUser.login}}</td>
            <td><input type="checkbox" ng-model="AdministrativeUser.enabled"
                       ng-true-value="1" ng-false-value="0"
                       ng-click="lockUser(AdministrativeUser.login, AdministrativeUser.enabled)"></td>
            <td>
                <button ng-click="showStats(AdministrativeUser.login)">{{'SHOW_STATS' | translate}}</button>
            </td>
            <td>
                <button ng-click="resetPassword(AdministrativeUser.login)">{{'RESET_PASSWORD' | translate}}</button>
            </td>

            <td ng-if="!AdministrativeUser.admin">
                <button ng-click="promoteToAdmin(AdministrativeUser.login)">{{'PROMOTE_TO_ADMIN' | translate}}</button>
            </td>
            <td ng-if="!AdministrativeUser.admin">
                <button ng-click="deleteAccount(AdministrativeUser.login)">{{'DELETE_ACCOUNT' | translate}}</button>
            </td>
            <td><span ng-if="AdministrativeUser.admin">admin </span></td>
        </tr>
    </table>

    <br>

    <div ng-if="pagesCount != 0" class="center">
        <div ng-repeat="page in pagesCount" class="pagination">
            <a ng-click="showPage(page + 1)" ng-class="{active: currentPage == (page +1)}">{{ page + 1 }}</a>
        </div>
    </div>
</div>