<div ng-include="'components/templates/upper_strip.html'"></div>

<div class="centered">

    <div ng-if="creator">

        <h4>{{'GAME_CREATION_TITTLE' | translate}}</h4>
        <table>
            <th style="width: 30%">
                <label class="control-label">{{'MAX_PLAYERS_COUNT' | translate }}</label></th>
            <th style="width: 70%">
                <rzslider rz-slider-model="maxPlayers.count"
                          rz-slider-options="slider.options"></rzslider>
            </th>
        </table>
        <br>

        <div class="centered">
            {{'PLAYERS' | translate}}
            <table>
                <tr ng-repeat="players in playersList track by $index">
                    <td>{{players.login}}</td>
                    <td>
                        <button ng-click="kickPlayer(players.login)" ng-if="players.login != owner">{{'KICK_PLAYER' |
                            translate}}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br>

        <button ng-click="startGame()">{{'START_GAME' | translate}}</button>

        <div>
            <button ng-click="leftGame()">{{'LEFT_GAME' | translate}}</button>
        </div>
    </div>


    <div ng-if="!creator">

        <h4>{{'GAME_JOINER_TITTLE' | translate}}</h4>

        <p>{{'MAX_PLAYERS_COUNT' | translate}} {{maxPlayers.count}}</p>

        <div class="centered">
            {{'PLAYERS' | translate}}
            <table>
                <tr ng-repeat="players in playersList track by $index">
                    <td>{{players.login}}</td>
                </tr>
            </table>
        </div>

        <div>
            <button ng-click="leftGame()">{{'LEFT_GAME' | translate}}</button>
        </div>
    </div>
</div>