<div id="localPlayer">
    <h4>{{localPlayer.login}}</h4>
    <p>{{'COINS' | translate}} {{localPlayer.coins}}</p>
    <p>{{'INFLUENCE_POINTS' | translate}} {{localPlayer.influencePoints}}</p>
    <div ng-repeat="card in localPlayer.cards track by $index">
        <img src="images/{{card}}">
    </div>
</div>

<div id="table">
    <h3>Table</h3>
    <button ng-show="localUser == activePlayer" ng-click="faceCard()">{{'FACE_CARD' | translate}}</button>
    <div ng-repeat="card in table.cards track by $index">
        <img src="images/{{card}}">
    </div>
</div>

<div id="players" ng-repeat="player in playersList">
    <h4>{{player.login}}</h4>
    <p>{{'COINS' | translate}} {{player.coins}}</p>
    <p>{{'INFLUENCE_POINTS' | translate}} {{player.influencePoints}}</p>
    <div ng-repeat="card in player.cards track by $index">
        <img src="images/{{card}}">
    </div>

</div>