<div ng-include="'components/templates/upper_strip.html'"></div>

<div class="centered">
    <form>
        <div>
            <h1 id="loginLabel">{{'LOGIN_LABEL' | translate }}</h1>
        </div>

        <div>
            <div>
                <p ng-show="invalidCredentials">{{'INVALID_CREDENTIALS' | translate }}</p>
            </div>
            <div>
                <label class="control-label" for="loginInput">{{'ENTER_LOGIN' | translate }}</label>
                <input id="loginInput" type="text" ng-model="userName" required="required" class="form-control"/>
            </div>
            <br/>

            <div>
                <label class="control-label" for="passwordInput">{{'PASSWORD' | translate }}</label>
                <input id="passwordInput" type="password" ng-model="password" required="required" class="form-control"/>
            </div>
            <br/>

            <div>
                <button id="loginButton" ng-click="logIn()" type="submit">{{'LOGIN_ACTION' | translate }}</button>
            </div>
        </div>
    </form>
</div>