<div ng-include="'components/templates/upper_strip.html'"></div>

<div ng-if="playerDoesNotExist">
    <h1>{{'STATS_PLAYER_DOES_NOT_EXIST_PART1' | translate}}{{player}}{{'STATS_PLAYER_DOES_NOT_EXIST_PART2' |
        translate}}</h1>
</div>

<div ng-if="gamesList.length != null">
    <div ng-show="gamesList.length == 0">
        <h1>{{player}}{{'NO_RECORD' | translate}}</h1>
    </div>

    <div ng-show="gamesList.length != 0">
        <table>
            <tr>
                <th>{{'GAME_DATE' | translate}}</th>
                <th>{{'COUNT_OF_PLAYERS_IN_GAME_STATS' | translate}}</th>
                <th>{{'PLAYERS_IN_STATS' | translate}}</th>
                <th></th>
            </tr>
            <tr ng-repeat="game in gamesList track by $index">
                <td>{{game.createDate | date:'dd-MM-yyyy HH:mm'}}</td>
                <td>{{game.playerList.length}}</td>
                <td>
                <span ng-repeat="player in game.playerList track by $index">
                <a ng-href="#!/statslist/{{player.login}}">{{player.login}}</a>
                    </span>

                </td>
                <td>
                    <button ng-click="showGame(game.id)">{{'SHOW_RECORD' | translate}}</button>
                </td>
            </tr>
        </table>
    </div>


</div>