<div ng-include="'components/templates/upper_strip.html'"></div>

<div class="centered">

    <div ng-if="!user">
        <h1>{{'WELCOME_TEXT' | translate}}</h1>
        <button ng-click="goToLoginPage()">
            {{'LOG_IN' | translate}}
        </button>
        <button ng-click="goToRegistrationPage()">
            {{'REGISTER' | translate}}
        </button>
    </div>

    <div ng-if="user">
        <h4>{{'WELCOME_PLAYER' | translate}} {{user}}</h4>
        <button ng-click="createGame()">
            {{'CREATE_GAME' | translate}}
        </button>
        <div style="margin-top: 1.1em;">
            <table style="margin: auto;">
                <tr>
                    <th>{{'CREATOR' | translate}}</th>
                    <th>{{'COUNT_OF_PLAYERS' | translate}}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="games in gamesForJoin track by $index">
                    <td>{{games.owner}}</td>
                    <td>{{games.playersList.length}} / {{games.maxPlayersCount}}</td>
                    <td>
                        <button ng-click="joinGame(games.id)">{{'JOIN_GAME' | translate}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<!--<div class="globalChat">-->
<!--<div>-->
<!--<div>-->
<!--<h1>{{'GLOBAL_CHAT' | translate}}</h1>-->

<!--<p ng-repeat="message in messages track by $index">{{message}}</p>-->
<!--</div>-->
<!--<div ng-disabled="$scope.client != undefined">-->
<!--<label>{{'MESSAGE' | translate}}</label><input type="text" ng-model="text"/>-->
<!--<button id="sendName" ng-click="sendName();">{{'SEND_MESSAGE' | translate}}</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->




