body {
    background-color: #0099cc;
    font-size: 1.2em;
}

.card {

}

.inline {
    display: inline-block;
}

.center {
    text-align: center;
}

/*pagination*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #22aaee;
    color: white;
    border: 1px solid #22aaee;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*log_table*/
table.log_table {
    border-collapse: collapse;
    width: 100%;
}

table.log_table th, table.log_table td {
    text-align: left;
    padding: 8px;
}

table.log_table tr:nth-child(even) {
    background-color: #f2f2f2
}

table.log_table tr:nth-child(odd) {
    background-color: #22aaee
}

table.log_table th {
    /*background-color: #4CAF50;*/
    background-color: #22aaee;
    color: white;
}

img {
    max-height: 12.5em
}

.marked {
    background-color: rgba(80, 224, 80, 0.8);
    padding: 8px;
}

.cardsTable {
    /*text-align: center;*/
}

.expeditions {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.leftGameBlock {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.rightGameBlock {
    display: inline-block;
    width: 60%;

}

.playerOther {
    display: inline;
    float: left;
}

.playerLocal {
    text-align: center;
    display: inline-block;
    padding-right: 3em;
}

.playersStats {
    display: inline-block;
    text-align: left;
}

.cards {
    display: inline-block;
    box-shadow: 3px 3px 12px #303030;
    background-color: white;
    margin-left: 10px;
    margin-top: 7px;
    border-radius: 5px;
}

.globalChat {
    float: right;
    display: inline-block;
}

.centered {
    text-align: center;
    width: 35%;
    margin: 0px auto;
}

.menu {
    right: 0;
    margin-bottom: 1.2em;
}

.menu a {
    color: white;
}

.menu div {
    margin-right: 10px;
    margin-left: 10px;
}

.line {
    clear: both;
    right: 0;
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-top: 2em;
    margin-top: 2.8em;
}